Makefile
application/configs/application.ini
application/configs/sphinx.conf
.DS_Store
.buildpath
.settings
.project
*.log
data/logs/access_log
data/logs/error_log
data/cache/*
public/content
public/media
public/contenu
public/text.html
todo.txt
public/info.php
data/backups/*
data/old/*
data/rawUploads/*
data/sql/*
just_media_items_riders.sql
tools/*
bin/crontab.backup
bin/script.php
tests/cache/*
*.zip
tests/vendor
tests/composer.phar
