application/configs/application.ini
.DS_Store
.buildpath
.settings
.project
*.log
data/cache/*
public/media/*.*
public/media/thumbnails/*.*
todo.txt
public/info.php
data/backups/*
data/old/*
data/rawUploads/*
data/sql/*
just_media_items_riders.sql
tools/*
bin/crontab.backup
bin/script.php
tests/cache/*
public/content/*
