@import url('https://fonts.googleapis.com/css?family=Roboto|Galada');

/** Reset */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: Roboto, sans-serif;
}
ul {
    list-style-position: inside;
    list-style-type: none;
}
ol {
    padding-left: 1em
}
img,
fieldset,
abbr {
    border: none;
}
.inset {
    position: relative;
    top: 0.125em;
    opacity: 0.5;
}
.inset:hover {
    opacity: 1;
}
.close:hover {
    cursor: pointer;
}
.clear {
    clear: both;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.loading #contentWrapper,
.loading #comments * {
    display: none
}
/** Default template elements */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Galada, cursive;
    font-weight: bold;
    font-size: 1em;
}
h1.pageTitle,
h1.blogTitle,
h2.blogDescription {
    display: block;
    font-size: 2em;
    margin: 0 0 0.5em 0;
}
.cardTitle,
.albumTitle,
.dataAddTitle,
.dataEditTitle,
.forumTitle,
.mediaTitle,
.topicTitle,
.privateMessageTitle {
    position: relative;
    top: .1em;
	font-size: 2em;
	line-height: 1.3em;
}

.deemphasized-text {
	font-size: .8em;
	color: #666;
}
p.paragraph {
    margin: 0.5em 0;
    max-width: 45em;
}
a,
span.user,
span.author {
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}
a:hover {
    color: #4f4f4f;
}
/*a:visited{color:#6f6f6f;}*/

a:active {
    color: #E0E000
}
.dataLink{
	font-family: Galada;	
}
.dataLink::before {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 18px;
    margin-right: 1px;
    content: '';
}
.actionLinkContainer .dataLink{
    font-family: Roboto;  
}
a.user::before,
a.author::before,
span.user::before,
span.author::before {
    background: url("../../images/default/linkSprites.png") -10px -46px no-repeat;
}
span.user,
span.author {
    cursor: pointer;
}
div.posterInfo a.user::before {
    width: 0;
    background: none;
}
.posterInfo a.user {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
}
a.spot::before {
    width: 0.875em;
    margin-right: 0;
    background: url("../../images/default/linkSprites.png")-10px -82px no-repeat;
}
a.trick::before {
    top: 2px;
    width: 1.25em;
    background: url("../../images/default/linkSprites.png") -10px -118px no-repeat;
}
a.photo::before {
    background: url("../../images/default/linkSprites.png") -10px -154px no-repeat;
}
a.video::before {
    background: url("../../images/default/linkSprites.png") -10px -190px no-repeat;
}
a.album::before {
    background: url("../../images/default/linkSprites.png") -10px -226px no-repeat;
}
a.test::before {
    background: url("../../images/default/linkSprites.png") -10px -262px no-repeat;
}
a.blogpost::before {
    background: url("../../images/default/linkSprites.png") -10px -298px no-repeat;
}
a.blog::before {
    background: url("../../images/default/linkSprites.png") -10px -298px no-repeat;
}
a.topic::before {
    background: url("../../images/default/linkSprites.png") -10px -334px no-repeat;
}
a.forum::before {
    margin-right: 4px;
	top: 2px;
    background: url("../../images/default/linkSprites.png") -10px -334px no-repeat;
}
a.news::before {
    background: url("../../images/default/linkSprites.png") -10px -370px no-repeat;
}
a.dpt::before {
    background: url("../../images/default/linkSprites.png") -10px -10px no-repeat;
}
a.post::before {
    background: url("../../images/default/linkSprites.png") -10px -402px no-repeat;
}
a.comment::before,
.mediaOverlayComments::before {
    background: url("../../images/default/linkSprites.png") -10px -438px no-repeat;
}
a.dossier::before {
    background: url("../../images/default/linkSprites.png") -10px -478px no-repeat;
}
a.privatemessage::before {
    background: url("../../images/default/linkSprites.png") -10px -438px no-repeat;
}
a.event::before {
    background: url("../../images/default/linkSprites.png") -10px -656px no-repeat;
}
a.facebook::before {
    background: url("../../images/default/linkSprites.png") -10px -728px no-repeat;
    text-decoration: none;
}
a.close,
a.close::before {
    background: url("../../images/default/linkSprites.png") -7px -765px no-repeat;
    display: block;
    width: 1.5em;
    height: 1.5em;
}
a.linkRight::after,
a.linkLeft::before {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    width: 1.125em;
    height: 1.25em;
    content: '';
}
a.linkRight::after {
    margin-left: 0.125em;
    background: url("../../images/default/linkSprites.png") right -511.5px no-repeat;
}
a.linkLeft::before {
    margin-right: 0.125em;
    background: url("../../images/default/linkSprites.png") -10px -547.5px no-repeat;
}
a.backLeft {
    padding-left: 1.875em;
    background: url("../../images/default/linkSprites.png") -10px -586px no-repeat;
}
.actionLinkContainer {
    color: white;
    display: inline-block;
    padding: 0.625em;
    border-radius: 1em;
    background-color: #A0A0A0;
}
.actionLinkContainer a,
.actionLinkContainer a:visited {
    color: white;
}
#register {
    text-align: center;
    display: inline-block;
    max-width: 15em;
}
#register a,
#commentRegister a:visited {
    color: white
}
#registerForComment {
    /* margin: 1.5em; */
    text-align: center;
    display: inline-block;
}
#registerForComment a,
#registerForComment a:visited {
    color: white
}
#shareButtons.horizontal {
    height: 1.5em;
}
#facebookLikeButton,
#googlePlusOneButton {
    width: 3.5em;
    height: 4.125em;
}
#facebookLikeButton.horizontal,
#googlePlusOneButton.horizontal {
    width: 18em;
    height: 2.5em;
    overflow: hidden;
}
#facebookLikeButton.media {
    text-align: left;
    margin: 0.5em 0;
    height: 2em;
    padding-left: 0;
}
.facebookLikeBox {
    position: relative;
    margin-top: 1em;
    height: 15.9375em;
}
.facebookLikeBox iframe {
    display: block;
    margin: 0 auto;
}
.homePageGooglePlus {
    padding: 1em;
}
.homePageGooglePlus p {
    float: right;
    width: 14em;
    margin-top: 0.5em;
}
div.geo {
    display: inline;
}
body {
    background: url('../../images/default/background.png');
}
body#tinymce {
    background: white;
    padding: 0.5em;
}
#wrapper,
#headerContent {
    max-width: 60em;
}
#wrapper {
    display: block;
    margin: -4.5em auto 0;
    position: relative;
    z-index: 0;
}
header {
    height: 18.125em;
    background-color: rgb(143, 143, 143);
    background-image: linear-gradient(
        center top,
        rgb(143,143,143) 0px,
        rgb(143,143,143) 58px,
        rgb(107,107,107) 59px,
        rgb(0,0,0) 60px,
        rgb(0,0,0) 78px,
        rgb(192,192,192) 79px,
        rgb(143,143,143) 80px,
        rgb(181,181,181) 288px,
        rgb(143,143,143) 289px,
        rgb(226,226,226) 290px
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(143,143,143)),
        color-stop(0.2, rgb(143,143,143)),
        color-stop(0.203, rgb(107,107,107)),
        color-stop(0.207, rgb(0,0,0)),
        color-stop(0.269, rgb(0,0,0)),
        color-stop(0.272, rgb(192,192,192)),
        color-stop(0.276, rgb(143,143,143)),
        color-stop(0.993, rgb(181,181,181)),
        color-stop(0.996, rgb(143,143,143)),
        color-stop(1.0, rgb(226,226,226))
    );
    background-size: auto 18.125em;
}
#headerContent {
    position: relative;
    height: 14em;
    margin: 0 auto;
}
header.noCategoryContent,
header.noCategoryContent #headerContent {
    height: 18.125em;
}
#headerContent .title {
    display: flex;
    padding: 0 .5em;
    clear: both;
    justify-content: space-between;
}
.headerButton {
    display: none;
    color: #fff;
    background: none;
    padding: 0;
    border: 0;
    width: 2em;
    height: 2em;
    margin-top: 2.25em;
}
.headerButton path {
    fill: #fff;    
}
#slider {
    position: absolute;
    top: 9.5em;
    width: 60em;
    height: 10em;
}
#logo {
    display: block;
}
#logoImage {
    display: block;
    margin-top: 1em;
    width: 19.375em;
    height: 3.875em;
}
#contentWrapper {
    position: relative;
    z-index: 2;
}

.card {
    background-color: #f8f8f8;
	box-shadow: 0.0625em 0.0625em 0.0625em #404040;	
    padding: 1em;
    margin: 1em 0;
}
.card.noPaddingCard {
	padding: 0;
}


/** Header cards **/

.headerCard {
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: space-between;
 }
 
.headerCardTitle {
    font-size: 2em;
    line-height: 1.3em;
	margin-right: .5em;
	position: relative;
	top: 2px;
}
 
.headerCardTitle,
.headerCardAction,
.headerCardMenuAnchor {
	display: inline-block;
	align-self: center;
}

.headerCardActionInMenuOnly {
	display: none;
}

.headerCardMenuAnchor {
 	display: none; 	
	width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    fill: currentColor;
}

.headerCardMenuAnchor:hover {
	cursor: pointer;
}

.cardSectionRight,
.cardSectionLeft {
	display: flex;
}
 
.cardWrapper.hasBothCards .subHeaderCardTop {
	margin-bottom: 1px;
}

.cardWrapper.hasBothCards .subHeaderCardBottom {
	margin-top: 0;
}
.mediaEditLinks {
	display: inline-block;
}

@media screen and (max-width: 667px) {
	#simpleSearch {
		display: none;
	}
	
 	.cardWrapper .action,
 	.cardWrapper .subHeaderCardBottom {
 		display: none;
 	}
	 .headerCardMenuAnchor {
	 	display: inline-block;
	 }
	 
	 .headerCardAction {
	   display: none;
	 }
	 
	 .hiddenOnMobile {
	 	display: none;
	 }
 }

/** End Header cards **/

.leftCard,
.leftCardContainer {	
	margin-right: 1em;
}

.leftCard,
.rightCard,
.leftCardContainer .card,
.rightCardContainer .card {
	margin-top: 0;
}

.leftCardContainer .card:last-child {
	margin-bottom: 0;
}

.leftCard,
.rightCard {
	margin-bottom: 0;
}

.display-media #contentWrapper {
	display: block;
}
.noCategoryContent #contentWrapper {
    margin-top: 16em;
}
#firstContent,
#secondContent {
    box-sizing: border-box;
}
.oneColumn #firstContent {
    position: relative;
}

.twoColumns {
	display: flex;
}
.twoColumns #firstContent {
    width: 62.1%;
    position: relative;
}
.twoColumns #secondContent {
    width: 37.9%;
}
.article p.description {
    text-align: justify
}
.article img {
    max-width: 100%;
    height: auto;
}
footer {
    height: 4.5em;
    padding-top: 3.5em;
    clear: both;
    text-align: center;
    color: white;
    background-color: rgb(143, 143, 143);
    background-image: linear-gradient(
        center top,
        rgb(69,69,69) 0px,
        rgb(179,179,179) 1px,
        rgb(143,143,143) 2px,
        rgb(143,143,143) 104px
    );
    background-image: -webkit-linear-gradient(
        center top,
        rgb(69,69,69) 0px,
        rgb(179,179,179) 1px,
        rgb(143,143,143) 2px,
        rgb(143,143,143) 104px
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(69,69,69) 0px,
        rgb(179,179,179) 1px,
        rgb(143,143,143) 2px,
        rgb(143,143,143) 104px
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(69,69,69)),                                          
        color-stop(0.009, rgb(179,179,179)),                                          
        color-stop(0.019, rgb(143,143,143)),                                          
        color-stop(1.0, rgb(143,143,143))                                          
    );
    margin-top: -3em;
}
footer a {
    color: white
}
#activityBar {
    position: fixed;
    bottom: 0;
    height: 1em;
    padding: 0.25em 0;
    width: 100%;
    background: #FFFF80;
    z-index: 5;
}
#languageBox {
    position: absolute;
    width: 3em;
    height: 1.25em;
    right: .5em;
    top: 3.7em;
    text-align: right;
    display: table
}
#languageBox a {
    display: table-cell;
    vertical-align: middle;
    width: 1.25em;
    height: 1em;
}
#languageBox a:hover img {
    border: 0.125em solid #D0D0D0;
}
#languageBox a.currentLanguage img {
    border: 0.125em solid white;
}
#simpleSearch {
    position: absolute;
    top: 1.5em;
    right: .5em
}
div.notFoundPage {
    width: 100%;
    text-align: center;
    position: relative
}
div.notFoundPage div.pic {
    position: relative;
    width: 45em;
    margin: 0 auto;
}
div.notFoundPage div.pic p {
    position: absolute;
    bottom: 1em;
    right: 5em;
    color: white
}
.richTextContent dt {
    font-weight: bold;
    margin: 1em 0 0.5em 0;
}
.richTextContent dd {
    padding-left: 1em;
}
.richTextContent ul {
    list-style-type: inherit;
    margin: 0.5em 0;
}
.richTextContent li {
    margin-left: 1em;
}
.richTextContent p {
    margin: 0 0 1em;
}
.code {
    font-family: monospace, terminal;
    font-size: 0.75em;
}
/** Menu */

/** New stuff */

.notificationsForm {
	max-width: 40em;
}

#notificationRange {
    margin: 1em 0;
}
#notificationRange li {
    display: inline;
}
#notificationRange li a.active {
    text-decoration: none;
}
#newItems {
    margin: 1em 0;
}
p.noNewStuff {
    margin: 3em 0;
    text-align: center;
    font-size: 1.5em;
}
h2.itemSectionTitle {
    font-size: 1.5em;
}
dl.newItems {
    padding: 1em;
}
dl.newItems dt {
    position: absolute;
    display: block;
    width: 10em;
}
dl.newItems dd {
    margin-left: 10em;
    width: 40em;
}
dl.newItems dd ul {
    margin-bottom: 1em;
}
ul.userActionSuggestions {} ul.userActionSuggestions li {
    width: 17em;
    height: 4em;
    float: left;
    margin: 1em 1em 0 0;
}
/** Forms */

form.goToForm {
    display: inline;
}
form.goToForm select {
    border: 0.0625em solid #CCC;
    height: 1.5em;
}
form.goToForm input[type=submit] {
    border: 0.0625em solid #CCC;
}
p.element-group,
#mapTools {
    width: 45em;
    padding: 0 1em 1em;
    position: relative;
    left: 10em;
    background: none;
}
.modalContent p.element-group {
	width: initial;
}
p.element-group.active {
    background-color: rgba(192, 192, 192, 0.5);
}
p.element-group label.form-element-label {
    padding-top: 0.25em;
    color: #444;
    line-height: 2.25em;
}
p.element-group input,
p.element-group select,
p.element-group textarea,
p.element-group div.tag {
    width: 100%;
    border: 0.125em solid #CCCCCC;
}
p.element-group span.hint {
    position: absolute;
    top: 0em;
    left: -11em;
    width: 10em;
    padding: 0.5em;
    display: none;
    background: rgba(192, 192, 192, 0.5);
}
p.element-group.active span.hint {
    display: inline;
}
span.mceEditor {
    margin-top: 2em;
    display: inline-block;
}
#rideType {
    height: 4em;
}
p.element-group input {
    line-height: 1.25em;
    height: 2em;
    padding: 0 .5em;
}
p.element-group select {
    line-height: 1.25em;
    background: white;
}
p.element-group div.tag {
    border: 0.0625em solid #CCCCCC;
}
p.element-group input[type="file"] {
    border: inherit;
}
p.element-group input[type="checkbox"] {
    width: 2em;
	height: initial;
    border: 0;
    margin-top: 0;
}
p.element-group input[type="radio"] {
	width: 1.3em;
    height: 1.3em;
    padding: 0;
    margin-left: 1.5em;
}
p.element-group textarea#description {
    height: 7em;
}
p.element-group textarea#tags {
    height: 4em;
}
p.element-group textarea#riders {
    height: 4em;
}
p.element-group textarea#media {
    height: 4em;
}
p.submit-group {
    text-align: right;
}
.submit-group input {
    background: #ff0;
    border: 2px solid #333;
    padding: .75em;	
}
ul.errors {
    display: inline;
}
.errors {
    color: #CC2222;
}
.error-container {
    min-height: 24em;
}
.pre {
    font-family: monospace;
    white-space: nowrap;
    width: 58em;
    overflow-x: auto;    
    margin-top: 2em;
}
#uploadifyUploader {
    margin-left: 13em
}
#skipAutoFields {
    margin-top: 0.5em;
    margin-left: 14em;
}
#userR {
	
}
#photoForm,
#videoForm,
#spotForm,
#trickForm {
    margin-top: 1em;
}
/** Content */

span.postInformation,
p.postInformation {
    font-size: 0.8em;
    display: block;
}
span.dateInfo {
    font-size: 0.8em;
}
p.description {
    margin: 1em 0;
    font-style: italic
}
/** Lists */

#items li h1 {
    font-weight: normal;
}
#items li {
    margin-bottom: 1.5em;
    position: relative;
}
#items li p.postInformation {
    margin-bottom: 0.25em;
}
#items li:last-child {
    padding: 0.5em;
}
#items a.readMoreLink {
    position: absolute;
    bottom: 0.75em;
    right: 0.5em;
    font-size: 0.75em;
}
#items span.description {
    display: block;
}
#items {
    margin-right: 0.5em;
}
#items a.mainLink {
    display: block;
    line-height: 1.25em;
    font-size: 1.5em;
    text-decoration: none;
}
#items span.description {
    margin-top: 0.5em;
    text-align: justify;
}
h2.description {
    font-weight: normal;
    margin-bottom: 1em;
}
div.paginationControl {
    display: inline-block;
    padding: 0.625em;
    background-color: #A0A0A0;
    border-radius: 1em;
}
div.paginationControl,
div.paginationControl a {
    color: white;
}
/** Profiles */

.profilePageMainContainer,
.trickCardContainer {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.profilePageMainContainer .card {
	flex-grow: 1;
	margin: 0;
}

.profilePageMainContainer .card.profileInfoCard {
	max-width: 20em;
	margin-right: 1em;
}

@media screen and (max-width: 752px) {
	.profilePageMainContainer {
		display: block;
	}
	.profilePageMainContainer .card {
		margin: 1em 0;
	}
	.profilePageMainContainer .card.profileInfoCard {
		max-width: none;
		margin: 1em 0
	}
}

@media screen and (min-width: 440px) and (max-width: 752px) {
	.profileInfoCard {
		display: flex;
	}
}

.profileAlbumCard {
	padding: 0 0 1em;
}

.userProfilePic {
	margin-right: 1em;
}
.userProfilePicContent {
	display: inline-block;
    text-align: center
}
.userProfilePic ul {
    margin-top: 0.5em;
}
.userPreferences {
    top: -5em;
    right: 0em;
}

/** User */

ul#userListItem li {
    margin: 0 1em 1em 0em;
}
/** Data */

#backToData {
    position: absolute;
    right: 1em;
    top: 1em;
}
.translationWarning {
    font-style: italic;
    font-size: 0.75em;
}
/** Maps */

#fieldset-locationGroup #mapZone {
    padding: 1.75em 1em 0.5em 0.5em;
    position: relative;
}
#fieldset-locationGroup #mapZone.Active {
    background-color: rgba(192, 192, 192, 0.5);
}
#mapLabel {
    position: absolute;
    top: -2em;
}
#mapContainer {
    position: relative;
    left: 0;
    width: 40.625em;
    height: 44.em;
}
#fieldset-locationGroup #mapElement {
    position: relative;
    left: 0em;
    width: 32em;
    height: 32em;
    margin: 2em 0 0 0;
}
#simpleMapElement {
    height: 18em;
}
#userMapElement {
    height: 20em;
}
#toggleMap {
    color: black;
}
#mapTypeLabel {
    display: block;
    margin-top: 0.25em;
}
#mapTypeSelector {
    display: block;
}
#mapTools li {
    float: right;
    height: 2.5em;
}
a#clearLocation {
    padding-left: 1.25em;
    color: white;
    background: #A0A0A0 url('../../images/default/linkSprites.png') no-repeat -6px -609px;
}
a#clearLocation:visited {
    color: white;
}
#mapZone {
    position: relative;
}
#mapZone,
#mapItemsList,
#dptList {
    background-color: white;
}
#regionTabs {
    margin-top: 1em;
}
table.mapItems thead td {
    padding: 0.5em 0;
    text-align: center;
}
table.mapItems tbody td {
    padding: 0.5em 0.25em;
}
table.mapItems tbody tr {
    background: rgba(191, 191, 191, 0.75);
}
table.mapItems tbody tr:nth-child(even) {
    background: rgba(239, 239, 239, 0.75);
}
table.mapItems td.itemType {
    width: 4.5em;
    text-align: center;
}
table.mapItems td.itemLink {
    width: 19.5em;
}
table.mapItems td.itemInfo {
    width: 32em;
}
table.mapItems td.itemLink a.mediaLinkThumbnail {
    display: none;
}
table.mapItems thead tr {
    background: rgba(239, 239, 239, 0.75);
}
table.mapItems thead tr th {
    padding: 1em 0;
}
table.mapItems thead tr .header {
    background: url('../../images/default/sort/unsorted.gif') no-repeat center right;
    cursor: pointer;
}
table.mapItems thead tr th.headerSortUp {
    background: url('../../images/default/sort/asc.gif') no-repeat center right #EE0;
}
table.mapItems thead tr th.headerSortDown {
    background: url('../../images/default/sort/desc.gif') no-repeat center right #EE0;
}
table.mapItems dl.position dt {
    cursor: pointer
}
table.mapItems dl.position.closed,
table.mapItems dl.position.closed dt {
    display: inline;
}
table.mapItems dl.position.closed dt {
    text-decoration: underline;
}
table.mapItems dl.position.closed dd {
    display: none;
}
table.mapItems dl.position.open {
    display: block;
}
table.mapItems dl.position.open dd,
table.mapItems dl.position.open dt {
    display: inline;
}
#mapZone a.mediaLinkThumbnail {
    display: block;
}
div.mapInfoWindow.video,
div.mapInfoWindow.photo {
    width: 17em;
    height: 16em;
    text-align: center;
}
div.mapInfoWindow dl.position dt {
    display: none;
}
div.regionDetails {
    width: 12em;
    height: 4em;
}
#mapItemsSummary,
.mapFilters {
    margin: 0.5em 0;
}
#mapItemsSummary li,
.mapFilters li {
    display: inline;
}
#newItems ul li {
    margin: 1em;
}
#deleteFormContainer {
    margin: 1em auto;
    width: 20em;
    text-align: right;
}
#deleteFormContainer form {
    margin-bottom: 1em;
}
#deleteFormContainer p.submit-group {
    width: 20em;
}
#cancelLink {
    margin-right: 2em;
}
/** Forums */
.forumHeader,
.listNavigation,
.albumHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;	
}
.forumHeaderTitle {
	display: flex;
	align-items: center;
}
.forumTitle {
	margin-right: 1em;
}
.forumModeratorList {
	display: inline-block;
}
ul#forumsList li.category {
    padding: 0.5em 0.5em 1.5em;
    position: relative;
}
ul#forumsList li.category h2 {
    font-size: 1.5em;
}
ul#forumsList li.category ul {
    margin-top: 0.5em
}
ul#forumsList li.category {
    padding: 1em;
}
ul#forumsList li.forum {
	margin-left: 1em;
    padding: 1em;
}
ul#forumsList li.forum:nth-child(odd) {
    background-color: #BFBFBF;
}
ul#forumsList li.forum:nth-child(even) {
    background-color: #EFEFEF;
}
ul#forumsList li ul li p.title {
    margin-top: 0.5em;
}
ul#forumsList li ul li p.description {
    font-style: italic;
}
ul.forumModeratorList li {
    display: inline;
}
.forumMetadata {
	margin-top: .25em;
}

/** Forum*/

div.addForum_Topic {
    float: left;
    margin-right: 1em;
}
ul#topics {
    background-color: #DFDFDF;
}
ul#topics li {
    padding: 1em 1em 1em 2em;
    border-bottom: none;
}
ul#topics li.new {
    background: url("../../images/default/linkSprites.png") -10px -334px no-repeat;
}
ul#topics li:last-child {
    margin-bottom: 0;
}
ul#topics li:nth-child(even) {
    background-color: #BFBFBF;
}
/** Topic - Posts List */

#register.forum_topic,
#register.forum_post {
    position: inherit;
}
.forumPostList {
	padding: 0;
}
.backToTopicLink {
	min-width: 14em;
}
#postsList {
    margin: 1em 0em 3em 0
}
#postsList li {
    display: flex;
    position: relative;
    padding: 0.5em;
    background-color: #EFEFEF;
}
#postsList li:nth-child(even) {
    background-color: #CFCFCF;
}
#postsList li div.postContent p {
    margin-bottom: 0.5em;
}
.postContent {
	margin: .5em;
}
.postContent a {
	word-break: break-all;
}
#postsList li div.postInfo {
    margin-bottom: 0.5em;
    background-color: #C0C0C0;
    padding: 0.125em;
    padding-left: .25em;
    border-top: 0.0625em solid #7b7b7b;
    border-bottom: 0.0625em solid #A0A0A0;
    border-right: 0.0625em solid #A0A0A0;
    border-left: 0.0625em solid #7b7b7b;
    line-height: 1.3em;
    color: #444;
}
#postsList li div.postInfo.new {
    background: url('../../images/default/linkSprites.png') no-repeat -10px -402px;
    padding: 0.125em 0.125em 0.125em 1.25em;
}
#postsList li div.posterInfo {
	box-sizing: border-box;
	padding: 0 .5em;
    width: 7em;
    height: 10em;
    text-align: center;
}
.postWrapper {
	width: 100%;
}
div.avatar {
    width: 6em;
    max-height: 8em;
    overflow: hidden
}
#postsList li:first-child {
    border-radius-topleft: 0.5em;
}
#postsList li ul {
    list-style-type: disc;
}
#postsList li ul li {
    min-height: 0;
    background: none;
    padding: 0;
}
#loginForm p.element-group,
#postForm p.element-group {
    left: 0;
}
/** Comments **/
.postFormContainer {
	overflow-x: auto;
}

#commentForm p.element-group {
    left: 0;
}
#commentForm p.submit-group {
    padding-right: 14em;
}
#comments {
    position: relative;
    margin: 1em 0 1.5em 0;
    background: #f8f8f8;
    padding: 0.5em 0 2em 0;
}
#comments #postsList {
    margin: 0
}
#postComment {}
/** Media */

.photoRotationLinks,
.photoRotationLinks li {
	display: inline-block;
}
.mediaTitle h1 {
    font-size: 1.5em;
}
.mediaInformation {
	margin-top: .75em;
}
.media {
    margin-bottom: 0em;
}
.media.photo .mediaElement img {
	display: table-cell;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
}
.media-wrapper {
    display: block;
    text-align: center;
}
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
div.mediaTitle a,
div.mediaTitle a:visited {
    color: white;
}
.mediaDescription {
    line-height: 1.3em;
    margin: .5em 0;
}
.mediaMetadataLinks li {
	display: inline-block;
}
.mediaMetadataLinks {
	margin-top: .25em;
}
.mediaMetadataText a.external {
    display: block;
}
div.mediaMetadataMap {
    height: 18em;
}
#mediaNavigation {
    /* position: absolute; */
    /* top: -7em; */
    right: 1em;
    display: inline-block;
    max-width: 37em;
}
div.prevMedia,
div.nextMedia {} div.prevMedia {
    margin-right: 1em;
}
/** Spot */

div.spotTitle {
    max-width: 45em;
    padding: 0.5em;
    background-color: #A0A0A0;
    border-radius: 1em 1em 0em 0;
    color: white;
}
div.spotTitle h1 {
    display: inline;
    font-size: 1.25em;
}
div.spotTitle a,
div.spotTitle a:visited {
    color: white;
}
div.spotMetadata {
    display: table;
    text-align: left;
    margin-bottom: 1em;
    background-color: #F0F0F0;
    border-radius-bottom-left: 0.5em;
    border-radius-bottom-right: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 0.5em;
}
div.spotMetadata p.dpt,
div.spotMetadata p.typeInfo {
    margin-bottom: 0.5em;
}
div.spotMetadata h2 {
    font-size: 1em;
    font-weight: normal;
}
.tags {
    margin-top: 0.5em;
}
.tags ul,
.tags li {
    display: inline-block;
}
div.spotMetadata div.spotInfo {
    display: inline-block;
    width: 29em;
    vertical-align: top;
    margin-bottom: 1em;
}
div.spotMetadata div.spotAlbum {
    display: inline-block;
    width: 26em;
    padding: 0.5em;
    margin-bottom: 1em;
}
div.albumPreviewLink {
	margin-top: 1em;
    text-align: center;
}
#dptList li {
    width: 12.5em;
    height: 1.75em;
    display: inline-block;
}
ul#items.spotListItem {
    padding: 1.5em 0;
}
ul#items.spotListItem li {
    margin: 0 0em 1em 0em;
    padding: 0.5em 0.5em 1em;
    position: relative;
}
#register.spot {
    top: 1em
}
div.addSpot {
    position: absolute;
    left: 1em;
    top: 5em;
    padding: 0.625em;
    background-color: #A0A0A0;
    border-radius: 1em;
}
div.addSpot.dptPage {
    top: 1em;
    right: 1em;
    left: inherit;
}
div.addSpot a {
    padding-left: 1.125em;
    color: white;
    background: url('../../images/default/linkSprites.png') no-repeat -10px -82px;
}
div.addSpot a:visited {
    color: white;
}
/** Trick */

ul#items.trickListItem li {
    margin: 0 0em 1em 0em;
    padding: 0.5em 0.5em 1em;
}
div.addTrick a {
    padding-left: 1.125em;
    color: white;
    background: url('../../images/default/linkSprites.png') no-repeat -10px -118px;
}
div.addTrick a:visited {
    color: white;
}
div.trickTitle {
    max-width: 45em;
    padding: 0.5em;
    background-color: #A0A0A0;
    border-radius: 1em 1em 0 0;
    color: white;
}
div.trickTitle h1 {
    display: inline;
    font-size: 1.25em;
}
div.trickTitle a,
div.trickTitle a:visited {
    color: white;
}
div.trickMetadata {
    display: table;
    text-align: left;
    margin-bottom: 1em;
    background-color: #F0F0F0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 0.5em;
}
div.trickMetadata h2 {
    font-size: 1em;
    font-weight: normal;
}
div.trickMetadata p.tags {
    margin-top: 0.5em;
}
.trickCard {
	margin-bottom: 0;
}
.trickCardContainer .card {
	margin-bottom: 0;
}
.trickCardContainer .trickInfo {
    max-width: 27em;
    margin-right: 1em;
}
.trickAlbum {
	flex-grow: 1;
}
/** News */

ul#items.newsListItem li {
    margin: 0 0em 1em 0em;
    position: relative;
}
/** Dossiers */

ul#items.dossierListItem li {
    margin: 0 0em 1em 0em;
    padding: 0.5em 0.5em 1em;
    position: relative;
}
/** Tests */

ul#items.testListItem li {
    margin: 0 0em 1em 0em;
    padding: 0.5em 0.5em 1em;
    position: relative;
}
/** Blogs */

ul#items.blogListItem li {
    margin: 0 0em 1em 0em;
    padding: 0.5em 0.5em 1em;
    position: relative;
}
/** Blog Posts */

ul#items.blogPostListItem {
    padding-top: 2.5em;
}
ul#items.blogPostListItem li {
    margin: 0 0em 1em 0em;
    position: relative;
}
ul#items.blogPostListItem li a {
    display: inline-block;
}
h2.blogDescription {
    font-size: 1.5em;
}
div.blogOwner {
    /* position: absolute; */
    top: 1em;
    left: 1em;
    width: 6em;
    background-color: #F0F0F0;
    padding: 1em;
    text-align: center;
    box-shadow: 0.0625em 0.0625em 0.0625em #F0F0F0;
    border-radius: 1em;
}
#addBlogPostLink {
    margin-left: 10em;
}
/** Album */

.albumPagination,
.albumList {
	display: flex;
	flex-wrap: wrap;
}
.albumCard {
	padding: .125em;
}
.albumList {
	padding: .125em;
}
.albumList li {
	box-sizing: border-box;
    text-align: center;
    padding: .125em;
    position: relative;
}
.mediaOverlay {
	pointer-events: none;
	position: absolute;
    left: .125em;
    right: .125em;
    bottom: .125em;
    height: 2em;
    background: rgba(0,0,0,.5);
	color: #fff;
    display: flex;
    align-items: center;
}
.mediaOverlayIcon {
	flex: 0 0 2em;
	/*background: red;*/
}
.mediaOverlayTitle {
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 .25em;
	font-family: Galada, cursive;
	text-shadow: 1px 1px 1px #000;
}
.mediaOverlayComments {
	flex: 0 0 2em;
	padding-left: .125em;
	font-size: .8em;
	margin-right: .5em;
}
.albumList .media {
	flex: 1 1 12em;
	max-width: 20em;
}
@media screen and (min-width: 668px) {
	.albumList .media {
		flex-basis: 15em;
	}
	.mediaOverlay {
		height: 2.5em;
	}
	.mediaOverlayTitle {
		font-size: 1.25em;
	}
}
.albumList.albumPreview .media {
	flex-basis: 12em;
}
.albumList .mediaLinkThumbnail {
    display: block;
    background-size: cover;
    background-position: center;
}
.albumList .photo .mediaLinkThumbnail,
.albumList .video .mediaLinkThumbnail {
	padding-bottom: 100%;
}
.albumPreview {
	position: relative;
}
.albumPreview li {
    display: inline;
}
ul.album li a.mediaThumbnailComments {
    display: block;
    height: 100%;
}
ul.album li a.mediaThumbnailTitle {
    display: inline-block;
    max-width: 12em;
}
div.album.paginationControl.bottom.withComments {
    bottom: 31em;
}
div.addPhoto,
div.addVideo {
    padding: 0.625em;
    background-color: #A0A0A0;
    border-radius: 1em;
}
div.addPhotoFacebook,
div.addPhoto {
    display: inline;
}
div.addPhotoFacebook {
    background: #3B5998;
    color: white;
    padding: 0.5em 0.25em;
    border-radius: 1em;
}
div.addPhotoFacebook a,
div.addPhoto a,
div.addVideo a,
div.addPhoto a:visited,
div.addVideo a:visited {
    color: white;
}
.addPhoto a::before,
.addVideo a::before {
    position: relative;
    display: inline-block;
    width: 1.125em;
    height: 1em;
    margin-right: .25em;
    content: '';
}
.addPhoto a::before {
    background: url("../../images/default/linkSprites.png") -10px -154px no-repeat;
}
.addVideo a::before {
    background: url("../../images/default/linkSprites.png") -10px -190px no-repeat;
}
div.ac_results {
    z-index: 3;
}
div.ac_results ul {
    background-color: white;
}
div.ac_results ul li.ac_even {
    background-color: #B0B0B0;
}
div.ac_results ul li.ac_odd {
    background-color: #F0F0F0;
}
div.ac_results ul li.ac_over {
    background-color: #F0F000;
    cursor: pointer
}
div.youtube-embed {
    width: 26.5625em;
    height: 21.875;
    border: 0.0625em solid black;
    background-color: #404040;
}
div.dailymotion-embed {
    width: 30em;
    height: 23.8125em;
    border: 0.0625em solid black;
    background-color: #808080;
}
/** Tags **/

p.element-group div.tag {
    height: 1.875em;
    margin-top: 1.75em;
    background: white;
    display: inline-block;
}
span.tag label {
    background: #B0B0B0;
    border: 0.0625em solid transparent;
    margin: 0.1875em 0 0.1875em 0.3125em;
    padding-right: 1.25em;
    position: relative;
    display: inline-block;
    min-width: 1.25em;
    height: 1.375em;
}
span.tag label small.close {
    position: absolute;
    right: 0.5em;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
span.tag label abbr:hover {
    cursor: pointer;
}
span.tag label abbr {
    color: #FFF;
    border: none;
    font-size: 8px;
    font-weight: bold;
    line-height: 12px;
    position: absolute;
    right: 0.1875em;
    z-index: 9999;
    height: 100%;
    line-height: 22px;
}
span.tag input {
    border: none;
    background: transparent;
    color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5em;
    z-index: 0;
    text-align: center;
    padding: 0;
    top: 0.1875em;
    margin-top: 0;
}
span.tag label span {
    display: inline-block;
    visibility: hidden;
    margin-left: 5px;
}
/** Private Messages */

ul#privateMessagesMenu li {
    float: left;
    width: 12em;
    height: 2em;
    background-color: #E0E0E0;
    text-align: center;
    margin: 0.25em;
}
div.quotedPrivateMessage {
    margin: 0.5em 0 0.5em 13em;
    width: 40em;
}
div.quotedPrivateMessage p.message {
    border: 0.0625em solid #CCCCCC;
    padding: 0.5em;
}
ul#items.privatemessages {
    margin: 1.5em 0
}
ul#items.privatemessages li {
    margin: 0.5em 1em;
}
div.privateMessageReplyLinkContainer {
    margin-top: 1em
}
/** File browser */

#elementLists ul {
    margin-left: 1em;
    width: 20em
}
#elementLists ul li {
    cursor: default;
}
#elementLists ul li:hover {
    background-color: #F0F040;
    color: #444
}
#elementLists ul li.active {
    background-color: #E0E040;
    color: #444
}
/** login page */

.connectionLinks {
	display: flex;
	justify-content: space-around;
    align-items: center;
	padding: 0;
	margin-top: 1em;
    flex-direction: column;	
}
.connectionLinks a {
    display: inline-block;
    margin: 1em 0;
    margin: 0em 0 2em 0;
    background-color: #EFEF20;
    display: block;
    width: 8em;
    position: relative;
    border-radius: 1em;
    text-decoration: none;
    padding: 0.6875em 1em;
    box-shadow: 0.0625em 0.0625em 0.0625em #404040;
    text-align: center;
}
#registerButton {
    background-color: white;
}
#facebookConnect {
    background: #3B5998;
    color: white;
}
p.recoverPassword {
    font-size: 0.75em;
    margin: 0 2em 1em 1.5em;
}
/** login form in second content column */

#secondContent p.element-group {
    width: initial;
}
#secondContent div.additionalContent {
    text-align: center;
    padding: 0.5em;
}
div.additionalContent {
    clear: both;
}
div.additionalContent p.random {
    margin-bottom: 0.5em
}
#articleSubCategoriesDescription,
#communitySubCategoriesDescription {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.subCategoriesTitle {
    font-size: 1.5em;
}
.subCategoriesDescription {
    font-weight: normal;
    margin: 1em 0;
}
#articleSubCategoriesDescription h2,
#communitySubCategoriesDescription h2 {
    display: block;
}
#articleSubCategoriesDescription li,
#communitySubCategoriesDescription li {
	max-width: 18em;
    margin: 1em;
    padding: 1em;
    background-color: rgba(192, 192, 192, 0.7);
}
/** Search */

form.advancedSearch {
    height: 3em;
    position: relative;
    width: 58em;
}
form.advancedSearch #searchTerms {
    display: block;
    height: 2em;
    left: 0;
    position: relative;
    width: 48em;
}
form.advancedSearch #searchSubmit {
    display: block;
    height: 2.5em;
    position: absolute;
    right: 0;
    top: 0;
    width: 9em;
}
.simpleSearch #searchSubmit {
	border: 1px solid #333;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-weight: bold;}
ul.searchResults li {
    margin: 1em 0;
}
span.searchMatch {
    font-weight: bold;
    background-color: #FFFF60;
}
/** Events**/

div.eventInfo {
    float: left;
    width: 40em;
}
h1.articleTitle,
h1.eventTitle {
    font-size: 2em;
}
p.eventDates {
    float: right;
    text-align: center;
    width: 10em;
    padding: 0.5em;
    margin-left: 1em;
    background-color: #EFEF20;
    border-radius: 1em;
}
p.eventOrganisation {
    margin: 1em 0;
}
p.eventDates span.severalDays,
p.eventDates span.singleDay {
    font-size: 1.75em;
    font-weight: bold;
}
#secondContent div.additionalContent.event {
    text-align: left;
    margin-left: 2em;
}
ul.nextEvents li {
    margin: 1em 0;
}
/* ====== media block from oocss ====== */

.mediaBlock,
.bd {
    overflow: hidden;
}
.mediaBlock .img {
    float: left;
    margin-right: 0.5em;
}
.mediaBlock .img img {
    display: block;
}
.mediaBlock .imgExt {
    float: right;
    margin-left: 0.625em;
}
#country {
    overflow: hidden;
    margin-top: 2em;
}
#countryDescription {
    float: left;
    margin-right: 0.5em;
    width: 34em
}
#countryNavigation {
    float: right;
    margin-left: 0.625em;
    width: 22em;
}
#countryNavigation form {
    text-align: right;
}
p.element-group-simple span.errors {
    display: block;
}
#facebookPhotoExplorer {
    background: #EDEFF4;
    margin: 1em 0;
    padding: 1em;
    color: #333333;
}
#facebookPhotoExplorer a.album {
    color: #3B5998;
    font-size: 0.75em;
}
#facebookPhotoExplorer li span.count {
    color: #333333;
    font-size: 0.75em;
}
#facebookPhotoExplorer .selectedPhoto,
#facebookPhotoExplorer .loading {
    display: none;
}
#facebookPhotoExplorer div.albums ul,
#facebookPhotoExplorer div.photos ul {
    overflow: auto;
    min-height: 6em;
    max-height: 14em;
    margin-top: 1em;
}
#facebookPhotoExplorer div.albums li {
    float: left;
    margin: 0.25em
}
#facebookPhotoExplorer div.photos {
    display: none;
}
#facebookPhotoExplorer div.photos a.back {
    font-size: 0.75em;
}
#facebookPhotoExplorer div.photos span.albumTitle {
    font-weight: bold;
    font-size: 1.5em;
}
#facebookPhotoExplorer div.photos li {
    display: inline-block;
    margin: 0.25em;
    padding: 0.5em;
}
#facebookPhotoExplorer div.photos li.selected {
    background: #A0A0A0
}
#overlay {
    display: none;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 3001;
    background: rgba(0,0,0,.6);
}
#overlay.visible {
	display: flex;
}
#overlay .close {
    position: absolute;
    top: 1em;
    right: 1em;
}
#overlay .closeModal {
	display: none;
}
#overlay .closeModal.visible {
	display: initial;
}
.modalContent {
	display: none;
	position: relative;
    padding: 1em 3.5em 1em 1em;
    margin: 1em;
	background: none repeat scroll 0 0 #E7E4DC;
    border: 0.0125em solid white;
    width: 48em;
    max-width: 75vw;
}
.modalContent.visible {
	display: initial;
}
.modalContentItem {
	display: none;
}
.modalContentItem.visible {
	display: initial;
}

.modalContent .modalTitle {
	padding: 0 2em;
    text-align: center;
	font-size: 1.5em;
    font-weight: bold;
}
.modalList li {
	width: 20em;
	max-width: 95%;
	margin: 0em auto 1em;
}
.modalList li:last-child {
	margin-bottom: 0;
}

.mobileMenu {
	display: none;
}

.mobileMenu.visible {
	display: initial;
}

p.homePageLoginTitle {
    margin: 0 0 1em 1em;
    font-weight: bold;
}

@media screen and (min-width: 668px) {
    #topMenu {
        position: absolute;
        top: 7em;
        right: .5em;
        z-index: 3;
    }
    #catMenu {
        display: block;
        right: 0;
        position: relative;
        z-index: 2;
        box-shadow: 0.0625em 0.0625em 0.0625em #404040;
    }
    #catMenu .category {
        background: white;
        display: inline-block;
        position: relative;
        min-width: 7em;
        border-right: 0.0625em solid #8f8f8f
    }
    #catMenu .category:hover {
        background-color: #D0D0D0;
    }
    .mobileOnlySubCategory {
        display: none;
    }
    .menuItemImage {
        position: relative;
        left: 0.5em;
        top: -0.1875em;
    }
    #catMenu li a {
        display: block;
        padding: 0.6875em 1em;
        color: black;
        text-decoration: none;
        text-align: center;
    }
    #catMenu li a:active {
        color: #ffff00
    }
    #catMenu li.activeCat {
        background-color: #EFEF20;
    }
    #catMenu li.activeCat a {
        color: #000000;
    }
    #catMenu li ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        width: 100%;
        border: 0.0625em solid #CCCCCC;
    }
    #catMenu li ul.visible {
    	display: initial;
    }
    #catMenu li ul li {
        display: inline;
        position: relative;
        background-color: white;
        box-shadow: 0.0625em 0.0625em 0.0625em #404040
    }
    #catMenu li ul li a {
        display: block;
        padding: 0.5em 0 0.5em 0.25em;
        color: #000000;
        text-align: left;
    }
    #catMenu li ul li a:hover {
        background-color: #D0D0D0;
    }

    #catMenu li.selected ul {
        display: block;
    }

    /** Current category menu */
    #currentCategoryMenu {
        display: block;
        height: 3em;
        position: absolute;
        min-width: 43em;
        top: 4em;
        right: 0;
        z-index: 1;
        font-size: 0.85em;
    }
    #currentCategoryMenu li {
        display: block;
        float: left;
    }
    #currentCategoryMenu li a {
        display: block;
        text-decoration: underline;
        padding: 0.75em;
        line-height: 1.5em;
    }
    #currentCategoryMenu li a:hover {
        text-decoration: none
    }
    #currentCategoryMenu li.activeSubCat a {
        color: #000000;
        text-decoration: none;
    }
    #currentCategoryMenu li.inactiveSubCat a {
        color: #ffffff;
    }
}


/* iPhone 6 - landscape mode, menu fits above this. */
@media screen and (max-width: 667px) {
    body.menuVisible {
        overflow: hidden;
    }
    
    #topMenu {
    	display: none;
    }
    
	.mobileMenu {
		/* It's hidden by a translation, no need for a display: none; */
		display: initial;
	}


    #searchButton {
        z-index: 4;
    }    
    #mobileMenu {
        position: fixed;
        height: 100vh;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 3em;
        border: 0;
        transition: transform 300ms;
		transform: translateX(0);   
        overflow-y: auto;
    }
    #mobileMenu.offscreen {
        transform: translateX(100%);
    }
    #mobileMenu nav {
        background: #ccc;
        background: linear-gradient(#ccc, #aaa);
        min-height: 100%;
        border-left: 1px solid #333;        
    }
    #mobileMenu a {
        display: block;
        padding: 0.125em 1em;
        text-decoration: none;  
    }
    #mobileMenu .category li {
    	margin: .5em 0;
    }
    #mobileMenu .category > a {
        padding: .5em 1em;
        background: #999;
        color: #eee;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    }
    #mobileMenu a img {
        display: none;
    }
    #currentCategoryMenu {
        display: none;
    }
    header {
        height: auto;
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
		will-change: transform;
		transition: transform 100ms ease-in-out;
    }
	header.offscreen {
		transform: perspective(0) translate3d(0, -100%, 0);
	}
    #headerContent {
       height: 5.5em;
    }
    #wrapper {
        margin-top: 5.5em;
    }
    #contentWrapper {
        display: block;
    }
    .twoColumns #firstContent,
    .twoColumns #secondContent {
        width: 100%;
    }
    .leftCard {
    	margin-bottom: 1em;
    }
    
    #mobileSearchContainer {
    	align-self: flex-start;
    }
    #simpleSearchMobile {
    	position: fixed;        
        left: 0;
        top: 0;
        z-index: 2;
        padding: 1em;
        box-sizing: border-box;
        font-size: 1.5em;
        transition: transform 300ms;
		transform: translateX(0);   
    }
    #simpleSearchMobile.offscreen {
        transform: translateX(-100%);
    }
    #simpleSearchMobile input {
        vertical-align: middle;
    }
    #simpleSearchMobile #searchTerms {
        font-size: 1em;
        width: 180px;
    }
    #simpleSearchMobile input[type=submit] {
        width: 120px;
        font-size: .75em;
        -webkit-appearance: none;
        border: none;
        border-radius: .75em;
        vertical-align: middle;
        padding: .5em;
    }    
    
    p.element-group {
    	width: initial;
    }
}

@media screen and (min-width: 581px) and (max-width: 666px) {

    #menuButton,
    #searchButton {
        display: initial;
        position: relative;        
    }
}

@media screen and (max-width: 580px) {
    .headerButton {
        display: initial;
    }
    .mediaBlock,
    .bd {
        overflow: initial;
    }
}

/* Language box doesn't fit everywhere */
@media screen and (max-width: 410px) {
    #languageBox {
        display: none;
    }
}

/* iPhone 4 - portrait mode */
@media screen and (max-width: 374px) {
    #languageBox {
        display: none;
    }
    header {
        margin-top: -1em;
    }
    #wrapper {
        margin-top: 4.5em;
    }    
    #logoImage {
        display: block;
        margin-top: 1.6em;
        width: 248px;
        height: 49.6px;
    }
    .searchVisible #searchTerms {
        width: 120px;
    }    
}
